body {
    margin: 0px;
    padding: 0px;
    color: #000;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.header {
    background-color: #8945b3;
    box-shadow: 0px -6px 16px 4px #000;;
}
.title {
    color: #fff;
    text-align: center;
    padding: 25px 0px;
    font-size: 30px;
}
.content {
    height: auto;
    min-height: 400px;
}
.logo {
    font-size: 26px
}
.contact {
    font-family: sans-serif;
    line-height: 2;
    font-size: 18px;
    color: #000;
}
.social a {
    font-size: 30px;
    margin: 15px;
    color: #000;
}
.footer {
    text-align: center;
    background-color: #dadada;
    box-shadow: 0px -3px 10px -8px #000;
}